h1,h2,h3,p {
  text-align: center;
}
.heading {
  margin-bottom: 3em;
}
.boardRow {
  display: flex;
  flex-flow: row nowrap;
}
.square {
  width: 2.7vw;
  height: 2.7vw;
  line-height: 2.7vw;
  text-align: center;
  padding: 0;
  font-size: 1em;
  border: 1px solid #C0C0C0;
}
.square:focus {outline: 0;}
.kbd-navigation .square:focus {
  background: #ddd;
}
.hightLight {
  font-weight: 900;
}
.winning {
  color:black;
}
.scoreRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}
.computerScore,.humanScore {
  padding: 0;
}
.board_and_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 25vw;
}
.score {
  padding: 0;
}
.score > h2 {
  margin: 0;
}

.status h2 {
  margin: 0;
}
.scoreStat{
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .total_game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .board_and_info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .square {
    width: 2.5vh;
    height: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
  }
  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80vw;
    padding: 0;
  } 
  .computerScore,.humanScore {
    padding: 0em;
  }
  .heading {
    margin-bottom: 0em;
  }
}